name: CloudFormation Guard Analysis

on:
  push:
  schedule:
    - cron: '*/1 * * * *'

jobs:
  guard:
    permissions: write-all
    runs-on: ubuntu-latest
    name: CloudFormation Guard analyze
    steps:
      - name: CloudFormation Guard analyze
        uses: aws-cloudformation/cloudformation-guard@action-v0.0.1
        with:
          rules: './resources/validate/rules'
          data: './resources/validate/data'
          analyze: true
          token: ${{ secrets.GITHUB_TOKEN }}
